{% extends "base.html" %}

{% block content %}

    {# HEADLINE #}
    
    <div class="headline">
        <br>
        <h2>Co?</h2>
        <br>
        <p><b>Co dokładnie jest sprawdzane?</p></p>
        <br>
        <p>Przesłany plik lub każdy plik (narazie .py) wewnątrz przesłanego folderu, lub zlinkowanej strony, repozytorium, przesłanego folderu w formie ZIP.</p>
        <br>
        <p><b>Co dokładnie jest sprawdzane?</p></p>
        <br>
        <p>Linia po linii:</p>
        <p>1. obecność słów kluczy w kodzie które są na czarnej liście.</p>
        <p>2. ...</p>
        <br>
        <p>Po co? Aby pomóc wszystkim osobom pracującym oprogramowaniem napisanym języku Python i okolicach upewniać się czy ich kod jest w stanie bezpiecznym czy też zawiera wirusy, szkodliwe manipulacje w systemie, pracę na plikach, połaczeniach, potencjalne backdory etc.</p>
        <br>
        <br>
        <p>Dołącz: [ZPXD]</p>
        <br>
        <br>
        <p>kod: https://github.com/ZPXD/WTFChecker.git</p>
        <br>
        <p>Kontrybucja: github. Kontakt: lukasz.m.pintal@gmail.com</p>
    </div>

{% endblock %}
