{% extends "base.html" %}

{% block content %}


    {# HEADLINE #}
    
    <div class="headline">
        <br>
        <h2>Kod:</h2>
        <br>
        <p>https://github.com/ZPXD/WTFChecker.git</p>
        <br>
        <br>
        <br>
    </div>
    
    <div class="info" style="text-align:center">
        <br>
        <p>Po co? Aby pomóc wszystkim osobom pracującym oprogramowaniem napisanym języku Python i okolicach upewniać się czy ich kod jest w stanie bezpiecznym czy też zawiera wirusy, szkodliwe manipulacje w systemie, pracę na plikach, połaczeniach, potencjalne backdory etc.</p>
        <br>
        <br>
        <p>Kontrybucja: github. Kontakt: lukasz.m.pintal@gmail.com</p>
        <br>
        <p>Dołącz: [ZPXD]</p>
    </div>

{% endblock %}
